/*Criei um div chamada letra, na parte do sobre/empresa, pra alinhar o texto,
esse tamanho tava quebrando a linha e eu quase quebrando o pc

no tamanho 1024px, eu vi pelo inspecionar do google que é de laptop, mas tem outro tamanho lá,
da uma olhada e se quiser alterar, fica a vontade

*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.inicio {
  margin: 0;
  height: 700px;
  width: 100%;
}

/*SLIDE*/

#slider {
  margin-top: -97px;
  width: 100%;
  height: 100%;
  position: relative;
}

#slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 700ms;
}

#slider img.selecionado {
  opacity: 1;
}
/*SLIDE*/

#sobre {
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px #9b9a9a inset;
}
.img-empresa {
  background-color: transparent;
  border: 0;
}
#empresa {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
#container-img {
  width: 500px;
  height: 600px;
  border-radius: 5px;
}
#text-empresa {
  margin: auto;
}
#text-empresa p {
  width: 400px;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  line-height: 30px;
  text-align: initial;
}
#font-conheca {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  padding-top: 20px;
}

/*Fim do Sobre*/

/*servicos*/
.servicos {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #d0d0d0;
}

.servicos h2 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
}

.borda-servicos {
  box-shadow: 0px 0px 10px #030303 inset;
  padding: 10px;
}
#subtitulo {
  font-size: 3rem;
  color: #cccc00;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
#servicos {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 15px;
}
#div-servico {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#div-servico p {
  font-size: 1.2rem;
}
#img-servico {
  width: 150px;
}
.img-pri {
  margin-bottom: 60px;
}
/*servicos*/

/* Depoimentos */
#testimonials {
  background: #d0d0d0;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#testimonials #subtitulo {
  margin-top: 3.2rem;
  padding: 15px;
}

#testimonials blockquote {
  background: whitesmoke;
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  margin: auto;
  width: 82%;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: #cccc00;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

.swiper-slide {
  height: auto;
  width: 100%;
  padding-bottom: 4rem;
}

.swiper-button-prev {
  color: #030303;
  margin-top: 30px;
  margin-left: 20px;
}
.swiper-button-next {
  color: #030303;
  margin-top: 30px;
  margin-right: 20px;
}

.swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: #ffe100;
}
/* Depoimentos */

/*RODAPE*/

footer p {
  color: #ffe100;
  font-size: 2rem;
}
footer {
  background-color: #292929;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 10px #ffe100 inset;
}
h3 {
  font-size: 1.5rem;
  color: #d0d0d0;
}
.parceiro {
  padding: 20px;
}
#agmc,
#mb {
  width: 120px;
  padding: 10px;
}
#star,
#gt {
  width: 100px;
  padding: 10px;
}
#redes i {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 20px;
}
#ld-c {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#ld {
  padding-top: -15px;
  width: 100px;
  margin: auto;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ffe100;
  border-radius: 25px;
  z-index: 9999;
  border-color: #ffe100;
  outline: transparent;
}

#btn-back-to-top i {
  color: #292929;
}

/*RODAPE*/

/*Esse é o botão de subir ao topo, eu tirei ele do html, porque no resposivo ele tava zuando
mas é só criar o button e dar os nomes que entra de boa as propriedades*/

@media screen and (max-device-width: 1440px) {
  .navbar a {
    font-size: 2rem;
  }
  #font-conheca {
    font-size: 5rem;
  }
  #div-servico {
    width: 500px;
    padding: 15px;
  }
  #div-servico p {
    font-size: 2rem;
  }
  #img-servico {
    width: 200px;
  }
  .servicos h2 {
    font-size: 5rem;
  }
  .servicos p {
    font-size: 1.5rem;
  }
  #subtitulo {
    font-size: 3rem;
  }
  #testimonials blockquote p {
    font-size: 2rem;
  }
  footer p {
    font-size: 2.2rem;
  }
  footer font {
    font-size: 1.2rem;
  }
}
@media screen and (max-device-width: 1024px) {
  #text-empresa p {
    font-size: 1.5rem;
  }

  #subtitle {
    font-size: 3rem;
  }
  #letra {
    text-align: center;
    font-size: 1.2rem;
    margin: 5px;
  }
  #container-img {
    width: 490px;
    height: 590px;
    margin-left: 8%;
    border-radius: 5px;
  }

  footer {
    width: 100%;
  }
}

/*Responsivo 600px*/
@media screen and (max-device-width: 600px) {
  .servicos {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #servicos {
    flex-direction: column;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .container-img {
    display: none;
  }
  #letra {
    text-align: center;
  }

  footer {
    width: 100%;
  }
}

/*Responsivo 450px*/

@media screen and (max-device-width: 820px) {
  #subtitle {
    font-size: 2rem;
  }
  .container-img {
    display: none !important;
  }
  #text-empresa p {
    width: 500px;
    font-size: 1.5rem;
  }
  #servicos {
    flex-direction: column;
  }
  footer {
    margin-bottom: 0px;
  }
}

@media screen and (max-device-width: 450px) {
  body {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
  .inicio {
    width: 100%;
  }

  #text-empresa {
    width: 100%;
  }
  #text-empresa p {
    width: 400px;
    font-size: 1.5rem;
  }
  #font-conheca {
    font-size: 4rem;
  }
  #empresa {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  #subtitulo {
    font-size: 2rem;
  }
  #div-servico {
    width: 320px;
  }
  #div-servico p {
    font-size: 1.2rem;
  }
  #img-empresa {
    margin: auto;
  }
  #text-empresa {
    text-align: center;
    width: 90%;
    height: 50px;
  }

  .servicos {
    width: 100%;
  }

  #servicos {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  footer p {
    font-size: 1.1rem;
  }
  .parceiro {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #agmc,
  #mb {
    margin: auto;
    padding: 5px;
  }
  #star,
  #gt {
    margin: auto;
  }
}
@media screen and (max-device-width: 420px) {
  #empresa {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  #img-empresa {
    margin: auto;
  }
  #text-empresa {
    margin: auto;
    width: 90%;
    text-align: center;
  }
  #subtitulo {
    font-size: 2rem;
  }
  #text-empresa p {
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
  }
  .container-img {
    display: none !important;
  }
  #div-servico {
    width: 400px;
  }
}
@media screen and (max-device-width: 400px) {
  #font-conheca {
    font-size: 3.5rem;
    margin: 0;
    align-items: center;
  }
  #text-empresa p {
    width: 350px;
    padding: 0;
  }
  #img-servico {
    width: 150px;
  }
  #testimonials blockquote {
    width: 80%;
  }
  #testimonials blockquote p {
    font-size: 1.3rem;
  }
  .servicos h2 {
    font-size: 4rem;
  }
  #div-servico {
    width: 320px;
  }
  #div-servico p {
    font-size: 1.2rem;
  }

  #subtitulo {
    font-size: 2rem;
  }

  footer {
    width: 100%;
  }
  footer p {
    font-size: 1.1rem;
  }
  #redes i {
    margin-right: 15px;
    margin-left: 5px;
  }
  footer a {
    font-size: 1rem;
  }
}

@media screen and (max-device-width: 320px) {
  #text-empresa {
    width: 100%;
    margin-bottom: 200px;
  }
  #text-empresa p {
    width: 300px;
  }

  #testimonials blockquote {
    width: 80%;
  }
  .servicos h2 {
    font-size: 4rem;
  }
  .servicos p {
    font-size: 1rem;
  }
  #div-servico {
    width: 280px;
  }
  #img-servico {
    width: 150px;
  }
  #div-servico p {
    font-size: 1.3rem;
  }
  .servicos #subtitulo {
    font-size: 1.7rem;
  }

  footer p {
    font-size: 1.1rem;
  }
}
@media screen and (max-device-width: 290px) {
  #empresa {
    flex-direction: column;
    width: 100%;
  }
  #text-empresa {
    width: 100%;
    margin-bottom: 200px;
  }
  #text-empresa p {
    width: 250px;
  }
  #testimonials blockquote {
    width: 60%;
  }
  #img-empresa {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .servicos h2 {
    font-size: 3rem;
  }
  #subtitulo {
    font-size: 1.4rem;
  }
  #div-servico {
    width: 250px;
  }
  #div-servico p {
    font-size: 1.3rem;
  }
  footer a {
    font-size: 0.8rem;
  }
}
