* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(255, 255, 255);
}
.inicio {
  width: 100%;
  height: 600px;
  text-align: left;
}
.inicio .voltar {
  width: 100%;
  height: 100px;
  background-color: rgb(240, 188, 76);
  margin-top: 0;
  display: flex;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 2rem;
  margin: auto;
  font-size: 3rem;
}
.div-tc {
  text-align: center;
  box-shadow: 0px 0px 5px #afadadee inset;
  padding: 20px;
  border-radius: 5px;
}
h2 {
  font-size: 3rem;
}
.tc {
  font-size: 1.8rem;
}
.cor {
  text-align: center;
  border-radius: 10px;
  display: flex;
  background-color: #f7f4c4ee;
  box-shadow: 0px 0px 10px #cabd02ee inset;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}
p {
  font-family: 'Nunito', sans-serif;
  padding-top: 20px;
}
textarea {
  resize: none;
}
.button-login {
  border-radius: 10px;
  border-color: black;
  width: 200px;
  background: transparent;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.button-login:hover {
  background: white;
}

iframe {
  border-radius: 10px;
}
#local {
  margin-bottom: 30px;
  text-align: center;
}

.file {
  width: 350px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: wheat;
}

@media screen and (max-device-width: 450px) {
  .inicio h1 {
    font-size: 2rem;
  }
  .div-tc {
    width: 80%;
  }
  h2 {
    font-size: 2rem;
  }
  .tc {
    font-size: 1.2rem;
  }
  .file {
    width: 200px;
  }
}
@media screen and (max-device-width: 767px) {
  .cor {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin-top: 0;
  }
  .maps {
    display: none;
  }
}

@media screen and (max-device-width: 1440px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-device-width: 1024px) {
  #local {
    font-size: 1rem;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
}
