* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(255, 255, 255);
}
.inicio {
  width: 100%;
  height: 600px;
  text-align: left;
}
.inicio .voltar {
  width: 100%;
  height: 100px;
  background-color: rgb(240, 188, 76);
  margin-top: 0;
  display: flex;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
}
.voltar i {
  text-align: left;
  width: 20px;
  padding: 10px;
}
.voltar a {
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 2rem;
  margin: auto;
  font-size: 3rem;
}
.div-tc {
  width: 60%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 5px #afadadee inset;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
h2 {
  font-size: 3rem;
}
.tc {
  font-size: 1.8rem;
}
.cor {
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
  display: flex;
  background-color: #f7f4c4ee;
  box-shadow: 0px 0px 10px #cabd02ee inset;
  padding: 10px;
}

#nome-login {
  outline: none;
  width: 100%;
  color: black;
  background: transparent;
  border-color: black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-top: 40px;
}
#solicite {
  outline: none;
  width: 100%;
  color: black;
  background: transparent;
  border-color: black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding-top: 20px;
}
p {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding-top: 20px;
}
#mensagem {
  font-size: 20px;
  margin-bottom: -10px;
  margin-top: -10px;
}
#nome-login::placeholder {
  color: black;
  font-size: 1rem;
}
#solicite::placeholder {
  color: black;
  font-size: 1rem;
}

.button-login {
  border-radius: 10px;
  border-color: black;
  width: 200px;
  background: transparent;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.button-login:hover {
  background: white;
}

iframe {
  border-radius: 10px;
}
#local {
  margin-bottom: 30px;
  text-align: center;
}

.file {
  width: 350px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: wheat;
}
#cur {
  padding-bottom: 10px;
}

@media screen and (max-device-width: 450px) {
  .inicio h1 {
    font-size: 2rem;
  }
  .div-tc {
    width: 80%;
  }
  h2 {
    font-size: 2rem;
  }
  .tc {
    font-size: 1.2rem;
  }
  .file {
    width: 200px;
  }
  #solicite {
    padding-top: 18px;
  }
}
@media screen and (max-device-width: 767px) {
  .cor {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin-top: 0;
  }
  #solicite {
    width: 200px;
  }
  .maps {
    display: none;
  }
}

@media screen and (max-device-width: 1440px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-device-width: 1024px) {
  #local {
    font-size: 1rem;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
}
