/*Criei um div chamada letra, na parte do sobre/empresa, pra alinhar o texto,
esse tamanho tava quebrando a linha e eu quase quebrando o pc

no tamanho 1024px, eu vi pelo inspecionar do google que é de laptop, mas tem outro tamanho lá,
da uma olhada e se quiser alterar, fica a vontade

*/

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: Roboto Slab;

}

.inicio{
    margin: 0;
    height: 700px;
    width: 100%;

}




/*SLIDE*/

 #slider {
    margin-top: -90px;
    width: 100%;
    height: 100%;
    position: relative;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 700ms;
}

#slider img.selecionado {
    opacity: 1;
}
/*SLIDE*/


#sobre{
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #434343;
  color: white;
}
#empresa img{
  width: 200px;
}
.row{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
}
#empresa{
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
}
.container-img{
  width: 50%;
  margin: auto;
  text-align: left;
}
.container-img img{
  width: 500px;
  height: 600px;
  margin-left: 25%;
  border-radius: 5px;
}
#text-empresa{
  text-align: right;

}
#text-empresa p{
  width: 400px;
  font-size: 2rem;
}
#img-empresa{
  text-align: right;
  margin-right: 200px;
}
#font-conheca{
    font-size: 5rem;
    font-family: roboto slab;
    text-align: right;

}
p{
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto slab;
    line-height: 30px;
}

/*Fim do Sobre*/


/*servicos*/
.servicos{
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #d0d0d0;
}

.servicos h2{
    font-size: 5rem;
    font-family: roboto slab;
}

.borda-servicos{
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#subtitulo{
    font-size: 3rem;
    color: #CCCC00;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: roboto slab;
    margin-top: 10px;
    margin-bottom: 20px;
}
#servicos{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 15px;
}
#div-servico{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#div-servico p{
font-size: 1.2rem;
}
#img-servico{
    width: 150px;
}
.img-pri{
    margin-bottom: 50px;
}

/*servicos*/


/* Depoimentos */
#testimonials {
    background: #d0d0d0;
    position: relative;
    overflow: hidden;
  }

#testimonials #subtitulo{
    margin-top: 4rem;
}

#testimonials blockquote {
  background: whitesmoke;
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: #CCCC00;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

.swiper-slide {
  height: auto;
  width: 100%;
  padding-bottom: 4rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffe100;
}

.swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: #ffe100;
}
/* Depoimentos */



/*Contatos/ Orçamento*/
.contatos{
    width: 100%;
    height: 700px;
}
.contatos h2{
    font-size: 40px;
    font-family: roboto slab;
}
#orcamento{
    text-align: center;
    background-color: #ffe100;
    display: flex;
    width: 100%;
}
#orcamento1{
    display: flex;
    color: black;
    margin: auto;
    width: 500px;
}

.button{
    background-color: black;
    font-size: 30px;
    color: white;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;

}
#btn{
    display: flex;
    text-align: center;
    margin: 0;
    width: 700px;
    flex-direction: column;
}
#btn p{
    margin-left: 25px;
    font-size: 0.5 rem;
    align-items: center;
    margin-bottom: -1px;
    margin-top: -1px;
    font-family: 'Gowun Dodum', sans-serif;;
}

#orcamento img{
    height: 100px;
}

/*Contatos*/
.contatos h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.icon{
    width: 100px;
    margin-left: 15px;
}

.contatos img {
    width: 100px;
    margin-top: 15px;
    display: inline-block;
}

#contat{
    width: 70%;
    display: flex;
    align-items: center;
    margin: 0;
}

#maps{
    margin: auto;
}

#imgcontat{
    margin-left: 40px;
    width: 400px;
    height: 400px;
}

.whats{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
}

.gmail{
    display: flex;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
}
.whats p{
    margin-left: 20px;
    font-size: 1.5rem;
}

.gmail p{
    margin-left: 20px;
    font-size: 1.2rem;
}
/*Contatos*/



/*RODAPE*/

footer p{
    color: #ffe100;
    font-size: 2rem;
}
footer{
    background-color: #292929;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#redes i{
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 20px;
}
#holerite{
    color: white;
}
#holerite button{
    border-radius: 10px;
    border-color: black;
    width: 200px;
    background: orange;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
/*RODAPE*/

/*Esse é o botão de subir ao topo, eu tirei ele do html, porque no resposivo ele tava zuando
mas é só criar o button e dar os nomes que entra de boa as propriedades*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}



@media screen and (max-device-width: 1440px){
    .navbar a {
    font-size: 2rem;
}
    #font-conheca{
        font-size: 5rem;
    }

    .servicos h2{
        font-size: 5rem;
    }
    .servicos p{
        font-size: 1.5rem;
    }

    #subtitulo{
        font-size: 3rem;
    }
    #orcamento1{
        width: 700px;
    }
    #orcamento1 img{
        width: 120px;
        height: 120px;
    }
    #btn p{
        font-size: 1.8rem;
    }

    .button{
        width: 500px;
        height: 70px;
        font-size: 2rem;
    }
    #contat{
        text-align: center;

    }
    .whats{
        height: 170px;
    }
    .gmail{
        height: 170px;
        font-size: 1.8rem;
    }
    .icon{
        width: 200px;
    }
    #imgcontat p{

        margin: auto;

    }
    #maps{
        margin-left: 40px;
    }
    footer p{
        font-size: 2.2rem;

    }
    footer font{
        font-size: 1.2rem;
    }

}
@media screen and (max-device-width: 1024px){
        #sobre{
        width: 100%;}

    #subtitle{
        font-size: 3rem;
    }
    #letra{
        text-align: center;
        font-size: 1.2rem;
        margin: 5px;
        }
        #btn p{
            font-size: 1.4rem;
        }
    #contat{
        flex-direction: row;
        text-align: center;
        margin-left: -10px;
    }
    #maps{
        margin-left: 25px;
    }
    iframe{
        width: 500px;
        height: 350px;
    }

    footer{
        width: 100%;
    }
}

@media screen and (max-device-width: 450px){
    body{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }

    #sobre{
        width: 100%;
        height: 700px;
    }
    #text-empresa{
      width: 100%;
    }
    #text-empresa p{
      width: 400px;
      margin-left: -100px;
    }
    #font-conheca{
      font-size: 4rem;
    }
    #empresa{
      flex-direction: column;
      text-align: center;
      margin: auto;

    }
    #img-empresa{
      margin: auto;
    }
    #text-empresa{
      text-align: center;
      width: 90%;
      height: 50px;
    }


    .servicos{
        width: 100%;
    }

    #contat{
        flex-direction: column;
        text-align: center;
    }
    #imgcontat{
    text-align: center;
    margin-right: 40px;
    }
    #servicos{
        display: flex;
        flex-direction: column;
    }

    .contatos{
        width: 100%;
    }
    #orcamento{
        width: 100%;
        margin: auto;
    }
    #orcamento1 img{
        display: none;
    }
    #btn{
        flex-direction: column;
        width: 100%;
    }
    #btn p{
        font-size: 20px;
    }

    #btn button{
        width: 200px;
        font-size: 20px;
    }

    #maps{
        display: none;
    }
    #myBtn{
        display: none;
    }


    footer{
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    footer p{
        font-size: 1.1rem;

    }

}
@media screen and (max-device-width: 420px){
    #sobre{
    width: 100%;
    height: 900px;
  }
  #empresa{
    flex-direction: column;
    text-align: center;
    margin: auto;

  }
  #img-empresa{
    margin: auto;
  }
  #text-empresa{
    margin: auto;
    width: 90%;
    text-align: center;
  }
    #text-empresa p{
      margin: auto;
      width: 100px;
      height: 100px;
      text-align: center;
    }
    .container-img{
      display: none;
    }
    #div-servico{
        width: 400px;
    }
    #contat{
    align-items: center;
    }
    .whats{
        width: 350px;
        margin-right: 20px;
    }
    .gmail{
        width: 350px;
        margin-right: 20px;
        font-size: ;
    }
    #maps{
        display: none;
    }

    }

/*Responsivo 600px*/
@media screen and (max-device-width: 600px){
        #sobre{
        width: 100%;
        height: 1000px;
    }
    .servicos{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .container-img{
      display: none;
    }
    #letra{
        text-align: center;
    }

        #contat{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 20px;
    }
    iframe{
        width: 500px;
        height: 350px;
    }
    #maps{
        text-align: center;
        margin: auto;

    }
    #contat{
        margin: 0;
    }
    footer{
        width: 100%;
        margin-top: 350px;
    }
}

/*Responsivo 450px*/




@media screen and (max-device-width: 820px){
    #subtitle{
        font-size:2rem;
    }

    .servicos{
        align-items: center;
    }
    .contatos h2{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #contat{
        flex-direction: column;
        text-align: center;
    }

    #maps{
        margin: auto;

    }
    footer{
        margin-top: 300px;
        margin-bottom: 0px;
    }
}


@media screen and (max-device-width: 400px){
      #sobre{
      width: 100%;
      height: 800px;
    }

    #font-conheca{
        font-size: 3.5rem;
        margin: 0;
        align-items: center;
    }
    #text-empresa p{
      width: 350px;
      margin-left: -90px;
    }
    #imgcontat{
        text-align: center;
    }
    .servicos h2{
      font-size: 4rem;
    }
    #div-servico{
        width: 350px;
    }

    #subtitulo{
        font-size: 2.8rem;
    }
    #contat{
        width: 100%;
    }
    #imgcontat{
    text-align: center;
    margin-left: 60px;
    }
    .whats{
        width: 350px;
    }
    .gmail{
        width: 350px;
    }
    #maps{
        display: none;
    }
    footer{
        width: 100%;
    }
    footer p{
        font-size: 1.1rem;

    }
    #redes i{
    margin-right: 15px;
    margin-left: 5px;
    }
}

@media screen and (max-device-width: 320px){
  #text-empresa{
    width: 100%;
    margin-bottom: 200px;
  }
  #text-empresa p{
    width: 300px;
    margin-left: -80px;
  }
  #sobre{
    height: 1000px;
  }
    .servicos h2{
        font-size: 4rem;
    }
    .servicos p{
        font-size: 1rem;
    }
    #div-servico{
        width: 300px;
    }
    #div-servico p{
        font-size: 1.3rem;
    }
    .servicos #subtitulo{
        font-size: 2.2rem;
    }
    .whats{
        width: 300px;

    }
    .gmail{
     width: 300px;
     font-size: 0.5rem;
    }
    footer p{
        font-size: 1.1rem;

    }

}
@media screen and (max-device-width: 290px){
  #sobre{
  width: 100%;
  height: 1000px;
  margin: auto;
}
  #empresa{
    flex-direction: column;
    margin:
  }
  #text-empresa{
    width: 100%;
    margin-bottom: 200px;
  }
  #text-empresa p{
    width: 250px;
    margin-left: -60px;
  }
  #img-empresa{
    text-align: center;
    margin-right: 20px;
  }
  .servicos h2{
      font-size: 3rem;
    }
    #subtitulo{
      font-size: 2rem;
    }
    #div-servico{
        width: 270px;
    }
    #div-servico p{
        font-size: 1.3rem;
    }
    .whats{
        width: 250px;

    }
    .gmail{
     width: 250px;
     font-size: 0.5rem;
    }
    #redes i{
    margin-right: 10px;
    margin-left: 3px;
    }
}
