/*Criei um div chamada letra, na parte do sobre/empresa, pra alinhar o texto, 
esse tamanho tava quebrando a linha e eu quase quebrando o pc

no tamanho 1024px, eu vi pelo inspecionar do google que é de laptop, mas tem outro tamanho lá, 
da uma olhada e se quiser alterar, fica a vontade

*/

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.inicio{
    margin: 0;
    height: 700px;
    width: 100%;

}

/*MENU*/

.navbar{
    background-color: #292929;
    height: 100px;
    border-bottom: solid 5px #ffe100;
    color: white;
    font-family: roboto slab;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    height: 100px;
}

#menu{
    margin: 0;
    padding: 0;
    flex-grow: 10;
}

#menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: black;
    color: #ffe100;
    border-radius: 5px;
}

.navbar li {
    margin: 0 15px;
}
/*MENU*/



/*SLIDE*/

 #slider {
    margin-top: -90px;
    width: 100%;
    height: 100%;
    position: relative;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selecionado {
    opacity: 1;
}
/*SLIDE*/


/*Sobre a empresa. Missão, Visão e Valores*/
#sobre{
    margin: 0;
    width: 100%;
    height: 700px;
    line-height: 110px;
    background-color: white;
}

#empresa{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#img-sobre{
    width: 150px;
    vertical-align: middle;
    

}
#font-conheca{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto slab;

}

#empresa-mvv{
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

#subtitle{
    font-size: 40px;
    color: red;    
    text-align: center;
}


p{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto slab;
    line-height: 30px;
}

/*Fim do Sobre*/


/*servicos*/
.servicos{
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #d0d0d0;
}

.servicos h2{
    font-size: 50px;
    font-family: roboto slab;
}

.borda-servicos{
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#subtitulo{
    font-size: 40px;
    color: #CCCC00;    
    text-align: center;
}
#servicos{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 15px;
    align-items: center;
}
#div-servico{
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}
#img-servico{
    width: 150px;
    
}

/*servicos*/


/* Depoimentos */
#testimonials {
    background: #d0d0d0;
    position: relative;
    overflow: hidden;
  }

#testimonials #subtitulo{
    margin-top: 4rem;
}

#testimonials blockquote {
  background: whitesmoke;
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}
 
#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}
 
#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: #CCCC00;    
}
 
#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}
 
#testimonials cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}
 
.swiper-slide {
  height: auto;
  width: 100%;
  padding-bottom: 4rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffe100;
}

.swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}
 
.swiper-pagination-bullet-active {
  background: #ffe100;
}
/* Depoimentos */



/*Contatos/ Orçamento*/
.contatos{
    width: 100%;
    height: 700px;
}
.contatos h2{
    font-size: 40px;
    font-family: roboto slab;
}
#orcamento{
    text-align: center;
    background-color: #ffe100;
    display: flex;
    width: 100%;
}
#orcamento1{
    display: flex;
    color: black;
    margin: auto;
    width: 500px;
}

.button{
    background-color: black;
    font-size: 30px;
    color: white;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;

}
#btn{
    display: flex;
    text-align: center;
    margin: 0;
    width: 700px;
    flex-direction: column;
}
#btn p{
    margin-left: 25px;
    font-size: 0.5 rem;
    align-items: center;
    margin-bottom: -1px;
    margin-top: -1px;
    font-family: 'Gowun Dodum', sans-serif;;
}

#orcamento img{
    height: 100px;
}

/*Contatos*/
.icon{
    width: 100px;
    margin-left: 15px;
}

.contatos img {
    width: 100px;
    margin-top: 15px;
    display: inline-block;
}

#contat{
    width: 70%;
    display: flex;
    align-items: center;
    margin: 0;
}

#maps{
    margin: auto;
}

#imgcontat{
    margin-left: 40px;
    width: 400px;
    height: 400px;
}

.whats{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
}

.gmail{
    display: flex;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    display: inline-block;
}

.gmail p{
    margin-left: 20px;
}
/*Contatos*/



/*RODAPE*/

footer p{
    color: #ffe100;
    font-size: 30px;
}
footer{
    background-color: #292929;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#redes i{
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 20px;
}
/*RODAPE*/

/*Esse é o botão de subir ao topo, eu tirei ele do html, porque no resposivo ele tava zuando 
mas é só criar o button e dar os nomes que entra de boa as propriedades*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}


@media screen and (max-device-width: 1440px){
    .navbar a {
    font-size: 2rem;
}
    #font-conheca{
        font-size: 5rem;
    }
    #subtitle{
        font-size: 3rem;
    }
    #letra{
        font-size: 1.5rem;
    }
    #img-sobre{
        width: 150px;
    }
    .servicos h2{
        font-size: 5rem;
    }
    .servicos p{
        font-size: 1.5rem;
    }

    .servicos #subtitulo{
        font-size: 3.1rem;
    }
    #orcamento1{
        width: 700px;
    }
    #orcamento1 img{
        width: 120px;
        height: 120px;
    }
    #btn p{
        font-size: 1.8rem;
    }

    .button{
        width: 500px;
        height: 70px;
        font-size: 2rem;
    }
    #contat{
        text-align: center;

    }
    .whats{
        height: 170px;
    }
    .gmail{
        height: 170px;
    }
    .icon{
        width: 200px;
    }
    #imgcontat p{
        font-size: 1.8rem;
        margin: auto;

    }
    #maps{
        margin-left: 40px;
    }
    footer p{
        font-size: 2.2rem;

    }
    footer font{
        font-size: 1.2rem;
    }

}
@media screen and (max-device-width: 1024px){
        #sobre{
        width: 100%;

    }
    #img-sobre{
        width: 100px;
    }
        #empresa{
        font-size: 2rem;
        margin: auto;
    }
    #subtitle{
        font-size: 3rem;
    }
    #letra{
        text-align: center;
        font-size: 1.2rem;
        margin: 5px;
        }
        #btn p{
            font-size: 1.4rem;
        }
    #contat{
        flex-direction: row;
        text-align: center;
        margin-left: -10px;
    }
    #maps{
        margin-left: 25px;
    }
    iframe{
        width: 500px;
        height: 350px;
    }

    footer{
        width: 100%;
    }
}


/*Responsivo 600px*/
@media screen and (max-device-width: 600px){
        #sobre{
        width: 100%;
        height: 1600px;
    }

    #letra{
        text-align: center;
    }
        #empresa{
        width: 100%;
        flex-direction: column;
    }
        #contat{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 20px;
    }
    iframe{
        width: 500px;
        height: 350px;
    }
    #maps{
        margin-left: -30px;

    }
    #contat{
        margin: 0;
    }
    footer{
        width: 100%;
        margin-top: 350px;
    }
}

/*Responsivo 450px*/



@media screen and (max-device-width: 420px){
    #contat{
    align-items: center;
    }
    .whats{
        width: 350px;
        margin-right: 20px;
    }    
    .gmail{
        width: 350px;
        margin-right: 20px;
    }
    #maps{
        display: none;
    }

    }

@media screen and (max-device-width: 770px){
    #subtitle{
        font-size:2rem;
    }
    #letra{
        font-size:1rem ;
        text-align: center;
    }
    #contat{
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    #maps{
        margin: auto;

    }    
    footer{
        margin-top: 300px;
        margin-bottom: 0px;
    }       
}
@media screen and (max-device-width: 450px){
    body{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }
    #sobre{
        width: 100%;
        height: 100% ;

    }
    #letra{
        text-align: center;
    }
    .servicos{
        width: 100%;
    }
    #empresa{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #contat{
        flex-direction: column;
        text-align: center;
    }
    #imgcontat{
    text-align: center;
    margin-right: 40px;
    }
    #servicos{
        display: flex;
        flex-direction: column;
    }

    .contatos{
        width: 100%;
    }
    #orcamento{
        width: 100%;
        margin: auto;
    }
    #orcamento1 img{
        display: none;
    }
    #btn{
        flex-direction: column;
        width: 100%;
    }
    #btn p{
        font-size: 20px;
    }

    #btn button{
        width: 200px;
        font-size: 20px;
    }

    #maps{
        display: none;
    }
    #myBtn{
        display: none;
    }


    footer{
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}

@media screen and (max-device-width: 400px){

    #sobre{
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
        align-items: center;
    }
    #font-conheca{
        font-size: 3.5rem;
        margin: 0;
        align-items: center;
    }
    #empresa{
    align-items: center;
    }
    #empresa-mvv{
        text-align: center;
    }

    #letra{
        width: 350px;
        font-size: 1rem;
        text-align: center;
    }

    #imgcontat{
        text-align: center;
    }

    #div-servico{
        width: 370px;
    }
    #contat{
        width: 100%;
    }
    #imgcontat{
    text-align: center;
    margin-left: 60px;
    }
    .whats{
        width: 350px;
    }    
    .gmail{
        width: 350px;
    }
    #maps{
        display: none;
    }
    footer{
        width: 100%;
    }
    #redes i{
    margin-right: 15px;
    margin-left: 5px;
}
}
 
